.mapsearch-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.mapsearch-logo-container {
  width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mapsearch-logo-container h2 {
  color: #234C84;
  font-size: 30px;
  font-family: serif;
}
.mapsearch-category {
  width: 200px;
  position: relative;
  align-self: flex-end;
  right: 160px;
  font-size: 12px;
}
.map_wrap{
  width: 1400px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  z-index: 1;
}
#menu_wrap{
  width: 330px;
  height: 450px;
  margin-top: 30px;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
  position: absolute;
  left: 50px;
  z-index: 2;
}
.option{
  width: 330px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#st_name{
  width: 330px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:rgb(0, 53, 92);
  border-radius: 5px;
}
#st_form_b{
  width: 330px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#st_form_a{
  width: 290px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#st_form_c{
  width: 300px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#st_form_d{
  width: 230px;
  height: 35px;
  border-radius: 5px;
}
#st_form_e img{
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#st_detail{
  border-radius: 5px;
  background-color: white;
  display: none;
  width: 330px;
  height: 450px;
  border: 1px solid rgb(199, 199, 199);
  display: flex;
  line-height: 30px;
  gap: 20px;
  font-size: 16px;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}
#st_detail::-webkit-scrollbar {
  width: 1;  /* 수직 스크롤바의 너비를 1으로 설정하여 숨김 */
}
#st_detail img{
  width: 20px;
  height: 20px;
}
#st_detail li{
  width: 280px;
}
#placesList{
  width: 280px;
  font-size: 20px;
}
#markerbg{
  width: 100px;
  height: 100px;
}
#info_logo_img_E{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-direction: row;
  width: 310px;
  height: 100px;
  border-bottom: 1px solid rgb(199, 199, 199);
}
#info_logo_img_E_img{
  width: 50px;
  height: 50px;
  border: 1px solid rgb(199, 199, 199);
  display: flex;
  align-items: center;
  justify-content: center;
}
#info_logo_img_E img{
  width: 65px;
  height: 65px;
}
#info_logo_a{
  width: 220px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  /* border: 3px solid black; */
}

#info_logo_b{
  font-size: 12px;
  line-height: 15px;
}
#info_logo_c{
  font-size: 11px;
}
#st_p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-weight: 800;
}
#st_img_a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
}
