#cupB_container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 3px solid black; */
}
#cupB_main{
  width: 1200px;
  height: 800px;
  border: 1px solid rgb(199, 199, 199); 
}
#cupB_main1{
  width: 1200px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: row;
  
  /* border: 3px solid black; */
}
#cupB_detail{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgb(199, 199, 199); 
}
#cupB_detail:nth-last-child(1) {
  border: none;
}
#cupB_detail h3{
  font-size: 17px;
  width: 330px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid black; */
}
#cupB_detail_pp {
  font-size: 14px;
  width: 330px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 22px;
  color:rgb(149, 149, 149);
  /* border: 3px solid black; */
  font-weight: 600;
}
#cupB_main2{
  width: 1200px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* border: 3px solid black; */
}
