#cupC_container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#cupC_main{
  width: 1200px;
  height: 200px;
  border-bottom: 1px solid rgb(199, 199, 199) ;
}
#cupC_main1{
  width: 1200px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#cupC_detail{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#cupC_detail h2{
  color:rgb(7, 55, 135);
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#cupC_detail h4{
  font-size: 17px;
  color:rgb(48, 48, 48);
  line-height: 22px;
  font-weight: 800;
  width: 400px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#cupC_detail h3{
  font-size: 17px;
  width: 330px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cupC_detail p {
  font-size: 13px;
  width: 330px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cupC_main2{
  width: 1200px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#cupC_title{
  width: 1200px;
  height: 200px;
  display: flex;
  align-items: flex-end;
}
#cupC_title h3{
  font-weight: 300;
}