#mixAA_top{
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mixAA_container{
  width: 1200px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: row;
}
#mixAA_main{
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20x;
}
#mixAA_main img{
  width: 250px;
  height: 250px;
}
#mixAA_memo{
  width: 600px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

#mixAA_memo h2 {
  width: 265px;
  text-align: center;
  color: rgb(0, 47, 108);
  font-weight: 800;
  font-size: 14px;
}
#mixAA_memo h3{
  font-size: 17px;
  font-weight: 700;
  height: 25px;
  color: rgb(0, 47, 108);
}
#mixAA_memo h4 {
  width: 500px;
  text-align: center;
  color: rgb(154, 106, 56);
  font-weight: 900;
  font-size: 15px;
}
#mixAA_memo_1{
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-size: 13px;
  line-height: 20px;
}
#mixAA_memo_1 p{
  width: 250px;
  height: 250px;
  color:rgb(70, 70, 70);
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

