#mixC_container{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#mixC_main{
  width: 1200px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mixC_a{
  width: 1200px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mixC_aa{
  width: 360px;
  height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F4F4F2;
}
#mixC_img1 img{
  width: 15px;
  height: 30px;
}
#mixC_img2 img{
  width: 60px;
  height: 60px;
}
#mixC_arrow{
  width: 40px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mixC_arrow h1{
  color:rgb(126, 126, 126);
  font-weight: 100;
}
#mixC_botmemo{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 13px;
  width: 1200px;
  height: 35px;
}
#mixC_botmemo{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 13px;
  width: 1200px;
  height: 35px;
  font-weight: 600;
  color:rgb(70, 70, 70);
}