

.hygiene-detail-container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

.hygiene-guide-link {
  width: 1200px;
  height: 25px;
  padding-top: 35px;
  text-align: right;
  font-size: 12px;
  color: #898989;
  font-weight: bold;
}

.hygiene-guide-link > span {
  background-image: url('../brandnewsimg/icon_loc.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
  margin: 8px;
}

.hygiene-detail-title-container {
  width: 100%;
  height: 95px;
  margin: 50px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;

}

.hygiene-detail-title-container > h2 {
  background-image: url('../brandnewsimg/contents_bull.gif');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 25px;
  font-weight: 400;
}

.hygiene-box-container {
  width: 1180px;
  height: 100%;
}

.hygiene-box-list-con {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 578px 578px;
  grid-template-rows: 512px;
  gap: 24px;
  margin-bottom: 80px;
}

.hygiene-box-list-con > li {
  border: 1px solid #D9D9D9;
  width: 578px;
  height: 512px;
}

.hygiene-text-box > a{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 518px;
  height: 82px;
  padding: 30px;
}

.hygiene-text-box > a > h5{
  color: #002F6C;
  font-size: 18px;
  font-weight: 900;
}

.hygiene-text-box > a > p {
  color: #000;
  font-size: 15px;
}

.hygiene-btn-box {
  width: 73px;
  height: 23px;
  margin-right: 15px;
  border: 1px solid #D9D9D9;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  float: right;
}

.hygiene-btn-box:hover {
  color: white;
  background-color: #002F6C;
}

.hygiene-btn-box > p {
  text-align: center;
  font-size: 13px;
  padding-top: 4px;
  padding-left: 20px;
}