
#stickB_container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#stickB_main{
  width: 1200px;
  display: flex;
  flex-direction: row;
}
/* 버튼 */
#st_list{
  width: 50%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#st_list button{
  width: 180px;
  height: 40px;
  font: optional;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#st_list_btn{
  background-color: #002F6C;
  color: #fff; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s; /* 호버 효과를 위한 transition */
}
#st_list_btn a{
  color: #ffffff;
  font-weight: 700;
}
#st_list_btn:hover{
  background-color: #a6c3e6;
  color: #fff; /* 호버 시 텍스트 색상 흰색으로 변경 */
  cursor: pointer; /* 호버 시 커서 모양 변경 */
  transform: scale(1.1); /* 호버 시 약간 확대되는 효과 */
}
