#stickC_container{
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#stickC_main{
  width: 1200px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#stickC_title{
  width: 1200px;
  height: 200px;
  display: flex;
  align-items: flex-end;
}
#stickC_a{
  width: 1200px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#stickC_aa{
  width: 360px;
  height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F4F4F2;
}
#stickC_img1 img{
  width: 17px;
  height: 25px;
}
#stickC_img2 img{
  width: 60px;
  height: 60px;
}
#stickC_arrow{
  width: 40px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stickC_arrow h1{
  color:rgb(126, 126, 126);
  font-weight: 100;
}
#stickC_botmemo{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 13px;
  width: 1200px;
  height: 35px;
  font-weight: 600;
  color:rgb(70, 70, 70);
}
#circle_container{
  width: 1200px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
#circle_test{
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #1A437B;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#circle_img{
  width: 80px;
  height: 80px;
}
#cicle_memo{
  font-size: 18px;
  font-weight: 600;
  color: white;
  width: 170px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}