#stickC_container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#stickC_main{
  width: 1200px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid rgb(254, 0, 0); */
}
#stickC_title{
  width: 1200px;
  height: 200px;
  /* border: 3px solid rgb(254, 0, 0); */
  display: flex;
  align-items: flex-end;
}
#stickC_a{
  width: 1200px;
  height: 400px;
  /* border: 3px solid rgb(207, 131, 131); */
  display: flex;
  align-items: center;
  justify-content: center;
}
#stickC_aa{
  width: 360px;
  height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid rgb(0, 0, 0); */
  background-color: #F4F4F2;
}
#stickC_img1 img{
  width: 15px;
  height: 30px;
}
#stickC_img2 img{
  width: 60px;
  height: 60px;
}
#stickC_arrow{
  width: 40px;
  height: 170px;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#stickC_botmemo{
  /* border: 3px solid black; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 13px;
  width: 1200px;
  height: 35px;
}
#circle_container{
  width: 1200px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  /* border: 3px solid black; */
}
#circle_test{
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #1A437B;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}
#circle_img{
  width: 80px;
  height: 80px;
}
#cicle_memo{
  font-size: 18px;
  font-weight: 600;
  color: white;
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid black; */
}