.qna-container {
  width: 100%;
  height: 100%;
}

.qna-title-container {
  width: 100%;
  height: 460px;
  background-image: url('../giftcardimg/check_visual.jpg');
}

.qna-con-text {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.con1-title-text {
  width: 100%;
  font-size: 46px;
  font-weight: 300;
  padding-bottom: 25px;
}

.info-text {
  width: 100%;
  height: 62px;
  font-size: 18px;
}

.qna-info-text > p {
  color: black;
}

.qna-btn {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qna-btn-con {
  display: flex;
  flex-direction: row;
  width: 540px;
  height: 35px;
  text-decoration: none;
}

.qna-btn-con-lists {
  border: 1px solid #a0a0a2;;
  width: 180px;
  height: 100%;
  text-decoration: none;
  line-height: 35px;
}

.qna-btn-con-lists > a {
  color: #202023;
}

.qna-btn-con-lists:hover {
  background-color: #a0a0a2;
}

.qna-btn-con-lists:hover > a{
  color: white;
}

.qna-datail-container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.qna-guide-link {
  width: 100%;
  height: 25px;
  padding-top: 35px;
  text-align: right;
  font-size: 12px;
  color: #898989;
  font-weight: bold;
}

.qna-guide-link > span {
  background-image: url('../giftcardimg/icon_loc.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
  margin: 8px;
}

.qna-search-container {
  padding: 40px 0 20px 0;
  width: 100%;
  height: 40px;
}

.qna-search-boxs {
  width: 325px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
}

.qna-search-dropdown {
  width: 85px;
  height: 100%;
  padding-left: 15px;
}

.qna-drowdown-list {
  width: 85px;
  height: 42px;
  font-size: 14px;
  border: 1px solid #a0a0a2;
}

.qna-serach-result-box {
  width: 210px;
  height: 38px;
  display: flex;
  flex-direction: row;
}

.qna-serach-input-box{
  width: 176px;
  height: 41px;
  border: 1px solid #a0a0a2;
  border-right: none;
}

.qna-serach-button {
  border: 1px solid #a0a0a2;
  border-left: none;
  width: 50px;
  height: 43px;
  background-color: white;
  background-image: url('../giftcardimg/icon_search.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.qna-detail-box-container {
  width: 100%;
  height: 100%;
}

.qna-detail-box-lists {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template: 100% / repeat(6, 200px);
  text-align: center;
  border-bottom: px solid #213e84;
}

.qna-select-box {
  width: 200px;
  height: 100%;
  border: 1px solid #a0a0a2;
  font-size: 18px;
  cursor: pointer;
  
}

.qna-select-box > p {
  width: 200px;
  height: 100%;
  text-align: center;
  color: #7A7A7A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  
}
.qna-select-box.select > p {
  background-color: #213e84;
  color: white;
}

.qna-select-box :hover {
 background-color: #213e84;
 color: white;
}