#mainpage-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;;
  position: relative;
}

#mainpage-slidebox {
  /* width: 100%; */
  height: 545px;
  position: relative;
  z-index: 3;
}

/* 두 번째 섹터 */
#mainpage-second {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 725px; */
  padding: 112px 0 80px;
  background-image: url(./main/main_beanist_bg.gif);
  background-size: cover;
  background-position: 70%;
  z-index: 4;
}
#mainpage-second h2 {
  height: 98.19px;
  line-height: 1.1em;
  text-align: center;
  font-size: 42px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  color: #3c3c3c;
}
#mainpage-second h2::after {
  content: "";
    display: block;
    width: 100px;
    height: 1px;
    margin: 51px auto 0;
    background: #3c3c3c;
}
#mainpage-second h2 em {
  font-weight: 900;
  color: #90470c;
  font-family: 'Nunito Sans', sans-serif;
}
#mainpage-second h3 {
  margin: 53px 0 60px;
  font-size: 26px;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 100;
  color: #3c3c3c;
}
#mainpage-second h3 em {
  font-weight: bold;
}
#mainpage-beanist-img{
  width: 100%;
  height: 281px;
  z-index: 3;
}

/* 세 번째 섹터 */
#mainpage-third {
  width: 100%;
  height: 460px;
  background: url(./main/dream_factory_bg.gif) repeat-y;
  background-size: 100% auto;
  overflow: hidden;
  word-break: keep-all;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.dream-factory-text {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-container {
  margin-top: 80px;
  color: #fff;
}
.text-container h2 {
  max-width: 1180px;
  color: #FFF;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 2em;
  font-size: 30px;
}
.text-container h2 em {
  width: 1036px;
  height: 87px;
  text-indent: -9999px;
  font-size: 42px;
  background: url(./main/dream_factory_txt.png) no-repeat;
  background-size: 100% auto;
  display: block;
  font-weight: 900;
}
.text-container p {
  font-size: 17px;
}
.text-container .main-page-button {
  text-align: left;
} 

.dream-factory-img {
  /* position: relative; */
  /* margin: 20px; */
  float: right;
  padding-top: 50px;
}
.dream-factory-img img {
  position: relative;
  left: 170px;
  top: 63px;
  height: 349px;
}

.main-page-button {
  margin-top: 30px;
  text-align: center;
}
.main-page-button a {
  display: inline-block;
  border: solid 1px #FFFFFF;
  color: #FFF;
  margin: 0 3px 0 4px;
  width: 188px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  transition: 0.2s;
}
.main-page-button a:hover {
  background: #FFF;
  color: #3c3c3c;
}

/* 네 번재 섹션 */
#mainpage-fourth {
  position: relative;
  width: 100%;
  height: 500px;
  background: url(./main/block02_bg.jpg) no-repeat;
  background-position: 30%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainpage-fourth h2 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
}
#mainpage-fourth h2 em {
  font-weight: 900;
} 
#mainpage-fourth h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  margin: 51px auto 0;
  background: #fff;
}
#mainpage-fourth h3 {
  width: 100%;
  font-size: 26px;
  text-align: center;
  margin: 53px 0 45px;
  font-weight: 100;
  color: #FFF;
  font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
}

/* 다섯 번째 섹션 */
#mainpage-fifth {
  background: url(./main/company_bg.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 54px;
}
.mainpage-fifth-container {
  display: block;
  position: relative;
  float: right;
  width: 596px;
  right: 300px;
}
.mainpage-fifth-container h2 {
  font-size: 44px;
  font-family: 'Noto Sans SC', sans-serif;
  color: #FFF;
  font-weight: 100;
  padding-top: 87px;
  line-height: 1.15em;
}
.mainpage-fifth-container p {
  font-size: 17px;
  line-height: 1.4em;
  color: #fff;
  margin: 55px 0 0 0;
}
.mainpage-fifth-container .main-page-button {
  margin: 36px 0;
}

/* 맨 아래 섹션 */
#mainpage-bottom::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 560px;
  background: #efefef;
  margin-top: -280px;
  left: 0;
  z-index: -99;
}
#mainpage-bottom {
  margin: auto;
  margin-top: 110px;
  width: 100%;
  max-width: 1180px;
}

.bottom-menu{
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 27.96%;
  height: 330px;
  margin-right: 0.84%;
  padding: 44px 35px 0 35px;
  /* border: 1px solid #000; */
  /* top: 50px; */
  color: #fff;
}
.bottom-news {
  width: 40%;
  padding: 10px 0;
}
.compny-container {
  background-image: url(./main/main_franchise_bg.jpg);
}
.find-store {
  background-image: url(./main/main_store_bg.jpg);
}
.compny-container h2::after, .find-store h2::after {
  display: block;
  content: "";
  width: 42px;
  height: 1px;
  background: #FFF;
  margin: 23px 0;
}
#news-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
#bottom-notice{
  color: #000;
}
#bottom-notice ul {
  display: table;
  width: 100%;
  margin-top: 21px;
}

#bottom-notice ul li{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #7D7D7E;
  font-size: 15px;
  margin-bottom: 4px;
}
#bottom-notice ul li a {
  font-size: 15px;
  line-height: 1.7em;
  font-family: '나눔고딕', sans-serif;
  font-weight: 500;
  color: #7D7D7E;
}
#bottom-notice ul li a:hover {
  color: #000;
  transition: 0.3s;
}
#bottom-notice ul li p {
  font-size: 13px;
}
#bottom-brochure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 135px;
  background: #cbc3b2;
  position: absolute;
  bottom: 0;
  margin-top: 0;
}
#bottom-brochure a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-size: 13px;
}
#bottom-brochure h2 {
  font-weight: 600;
  color: #FFF;
  line-height: 1.1em;
  background: url(./main/main_brochure_arrow.png) no-repeat bottom left;
  padding: 36px 0 24px 0;
  margin-left: 35px;
}
#bottom-brochure img {
  position: absolute;
  top: -26px;
  right: 16px;
  width: auto;
  height: auto;
}
.find-store form {
  margin-top: 35px;
}
.find-store form a {
  margin-left: -44px;
}
.find-store form a img {
  width: 44px;
  height: 44px;
  vertical-align: top;
}
#bottom-input {
  width: 100%;
  max-width: 320px;
  height: 44px;
  border: solid 3px #FFFFFF;
  background: #1c3269;
  padding-left: 20px;
  font-size: 14px;
  color: #FFF;
  box-sizing: border-box;
}
#bottom-input::placeholder {
  color: #fff;
}