#members-header {
  z-index: 15;
  width: 100%;
  background-color: white;
  position: fixed;
}
.members-header-top{
  width: 1220px;
  height: 30px;
  margin: 7px auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.members-header-top-nav ul {
  display: flex;
  gap: 20px;
}
.members-header-top-nav ul li p {
  color: #444;
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.714em;
  font-family: 'Pretendard-Regular', sans-serif;
  cursor: pointer;
}
.members-header-top-nav ul li a {
  color: #444;
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.714em;
  font-family: 'Pretendard-Regular', sans-serif;
}
.members-logo a {
  display: block;
  height: 30px;
  width: 116px;
  background: url(./images/logo.svg) no-repeat 0 0;
  background-size: 116px 30px;
}
.blind {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  position: absolute;
  height: 0;
  width: 0;
}

.members-header-bottom {
  width: 1240px;
  height: 77px;
  margin: 0 331px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.members-header-bottom-nav {
  display: flex;
  gap: 30px;
}
.members-header-bottom-nav a {
  font-weight: 700;
  line-height: 1.188em;
  padding: 28px 0;
  box-sizing: border-box;
  display: block;
  border-bottom: 2px solid transparent;
  transition: color .3s, border-color .3s;
  color: #000;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 900;
}
.members-header-bottom-nav a:hover {
  color: #2a47bf;
  border-color: #2a47bf;
}