#brandnews-body {
  width: 100%;
  height: 3500px;
}

#brandnews-container {
  width: 100%;
  height: 460px;
  background-image: url('./brandnewsimg/news_visual.jpg');
}

#brandnews-con-text {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#con1-title-text {
  width: 100%;
  font-size: 46px;
  font-weight: 300;
  padding-bottom: 25px;
}

#brandnews-info-text {
  width: 100%;
  height: 62px;
  font-size: 18px;
}

#brandnews-btn {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#brandnews-btn-con {
  display: flex;
  flex-direction: row;
  width: 540px;
  height: 35px;
  text-decoration: none;
}

.brandnews-btn-con-lists {
  border: 1px solid #a0a0a2;;
  width: 180px;
  height: 100%;
  text-decoration: none;
  line-height: 35px;
}

.brandnews-btn-con-lists > a {
  color: #202023;
}

.brandnews-btn-con-lists:hover {
  background-color: #a0a0a2;
}

.brandnews-btn-con-lists:hover > a{
  color: white;
}

#brandnews-main-container {
  margin: 0 auto;
  width: 1200px;
}

#check-guide-link {
  width: 1200px;
  height: 25px;
  padding-top: 35px;
  text-align: right;
  font-size: 12px;
  color: #898989;
  font-weight: bold;
}

#check-guide-link > span {
  background-image: url('../brandnews/brandnewsimg/icon_loc.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
  margin: 8px;
}

#brandnews-search-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  height: 50px;
  padding: 40px 0 20px 0;
}

#brandnews-drowdown-box {
  width: 95px;
  height: 40px;
  margin-right: 10px;
}

#brandnews-drowdown-list {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
}

#brandnews-search-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  height: 40px;
}

#brandnews-serch-input {
  width: 183px;
  height: 40px;
  border: 1px solid #898989;
  border-right: none;
}

#brandnews-serch-result {
  width: 46px;
  height: 42px;
  border: 1px solid #898989;
  border-left: none;
  background-color: white;
  cursor: pointer;
}

#brandnews-detail-container {
  width: 1200px;
  border-top: 2px solid #213e84;
}

#brandnews-detail-container > li {
  border-bottom: 1px solid #898989;
  width: 100%;
  height: 135px;
  height: 100px;
  padding: 20px 0;
  display: flex;
}

#brandnews-detail-list-iconbox {
  border: 1px solid;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

#brandnews-detail-list-iconbox > img {
  width: 30px;
  height: 30px;
  align-self: center;
}

#list-detail-box {
  border: 1px solid;
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
}

#list-detail-box > h5{
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

#list-detail-box > h5 > a{
  color: black;
}

#list-detail-date {
  border: 1px solid;
  padding-left: 150px;
  width: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #898989;
  font-size: 14px;
}