.seller{
  display: flex;
  justify-content: center;
  background-color: #E9ECEF;
  height: auto;
  
}
#sellergrid{
  width: 800px;
  border: 1px solid #ededed;
  justify-content: center;
  background-color: white;
}
#sellergrid1{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 150px 600px;
  grid-template-rows: 35px 35px;
  gap: 10px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.sellerinput{
  color: black;
  border: 1px solid #ededed;
}
#sellerbor{
  text-align: center;
  border-bottom: 2px solid #ededed;
  padding-left: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}
#sellerbor1{
  text-align: center;
  padding-left: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}
#sellerbox{
  
  height: auto;
  
  
}
#appbutton{
    margin-left: 250px;
    text-align: center;
    background:#6B90DC;
    height: 60px;
    width:300px;
    font-size: 30px;
    color: white;
    border-radius: 8px;
    border: 0px;
    justify-content: center;
    margin-bottom: 20px;
  }
  #appbutton p{
  padding-top: 15px;
  }

#sellerp{
  padding-top: 5px;
  text-align: center;
  
}
#sellertext{
  border: 1px solid #ededed;
  vertical-align: top;
  margin-left: 40px;
  width: 720px;
  height: 70px;
  margin-bottom: 10px;
}
#sellerdt1{
  display: grid;
  grid-template-columns: 200px 500px;
}
#sellerimg{
  width: 150px;
  height: 150px;
  border: 1px solid #ededed;
  margin: 10px;
}
#sellerp1{
  margin:20px;

}
#sellercenter{
  text-align:  center;
}
#sellerbtn{
  justify-content:left;
  width: 100px;
}
#sellercolor{
  color: #d2c9c9;
  font-size: 15px; 
}
#sellergird2{
  border-bottom: 1px solid #E9ECEF;
  padding-left: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 400px 350px;
  gap: 10px;
  grid-template-rows: 20px 20px 20px;
  margin-bottom: 10px;
}
#sellerright{
  text-align: right;
  
}
#sellerright1{
  text-align: right;
  color: #d2c9c9;
  font-size: 15px; 
}