
#capsuleA_container{
  width: 100%;
}
#capsuleA_img1{
  width: 192px;
  height: 40px;
}
#capsuleA_main{
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#capsuleA_main2{
  width: 1200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#capsuleA_main2 h1{
  font-size: 50px;
  color:rgb(34, 60, 133);
  line-height: 22px;
  font-weight: 900;
}
#capsuleA_a{
  width: 1200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 100;
}
#capsuleA_a h3{
  font-size: 20px;
}
#capsuleA_aa{
  font-size: 14px;
  font-weight: 100;
  line-height: 22px;
  height: 60px;
  color:rgb(32, 32, 35);
  display: flex;
  align-items: center;
  justify-content: center;
}
#capsuleB_main{
  width: 1200px;
}
#capsuleA_img2 img{
  width: 160px;
  height: 160px;
}
#capsuleA_img2{
  width: 1200px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border: 1px solid rgb(153, 153, 153);
}
#capsuleA_b{
  width: 280px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#capsuleA_bb{
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

#capsuleA_bbb {
  width: 305px;
  height: 80px;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#capsule_Top{
  width: 100%;
  height: 450px;
  background-image: url('../dpbackimg/capsule_visual.jpg');
  background-size: 100% 450px;
  display: flex;
  flex-direction: column;
}
#capsule_title{
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  color: white;
}
#capsule_span{
  font-weight: 900;
}
#capsule_title h3{
  font-size: 60px;
  font-weight: 300;
}
#capsule_title p{
  font-size: 26px;
  width: 800px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#capsule_mid{
  width: 89%;
  height: 150px;
  color: #898989;
  font-size: 12px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
}
#capsuleC_container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#capsuleC_main1{
  width: 1200px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px dotted rgb(199, 199, 199); 
}
#capsuleC_detail{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px dotted rgb(199, 199, 199);
}
#capsuleC_detail:nth-last-child(1) {
  border: none;
}
#capsuleC_detail h3{
  font-size: 17px;
  width: 330px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#capsuleC_detail_h4_a{
  font-size: 17px;
  width: 330px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(0, 60, 130);
}
#capsuleC_detail_p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 80px;
  line-height: 19px;
  color:rgb(149, 149, 149);
  font-weight: 700;
  font-size: 20px;
}

#capsuleC_detail_h4_b{
  font-size: 17px;
  width: 330px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(216, 174, 74);
}
#capsuleC_detail_h4_c{
  font-size: 17px;
  width: 330px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(0, 103, 37);
}
#capsuleC_detail p {
  font-size: 13px;
  width: 330px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#capsuleC_main2{
  width: 1200px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 3px solid black;
}
