#capsuleB_container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#capsuleB_main{
  width: 1200px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid rgb(254, 0, 0); */
}

#capsuleB_a{
  width: 1200px;
  height: 200px;
  /* border: 3px solid rgb(207, 131, 131); */
  display: flex;
  align-items: center;
  justify-content: center;
}
#capsuleB_aa{
  width: 550px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid rgb(0, 0, 0); */
  background-color: #F4F4F2;
}
#capsuleB_aa p{
  font-weight: 500;
  font-size: 15px;
}
#capsuleB_img1 img{
  width: 20px;
  height: 30px;
}
#capsuleB_img2 img{
  width: 60px;
  height: 60px;
}
#capsuleB_arrow{
  width: 40px;
  height: 170px;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#capsuleB_botmemo{
  /* border: 3px solid black; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 13px;
  width: 1200px;
  height: 35px;
}
#capsuleB_title{
  width: 1200px;
  height: 70px;
  /* border: 3px solid rgb(254, 0, 0); */
  display: flex;
  align-items: center;
  
}
#capsuleB_img_bot img{
  width: 354px;
  height: 254px;
}
#capsuleB_bot_a{
  width: 1200px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  /* border: 3px solid rgb(254, 0, 0); */
}
#capsuleB_bot_aa{
  width: 700px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 3px solid rgb(254, 0, 0); */
}
#capsuleB_bot_aa_p{
  width: 700px;
  height: 50px;
  /* border: 3px solid rgb(254, 0, 0); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#capsuleB_bot_aa p{
  font-size: 14px;
  width: 700px;
  height: 80px;
  color:rgb(149, 149, 149);
  font-weight: 500;
  line-height: 15px;
  /* border: 3px solid rgb(254, 0, 0); */
}
#capsuleB_bot_aa h4{
  width: 700px;
  font-size: 14px;
  line-height: 23px;
  color:rgb(247, 129, 129);
  /* border: 3px solid rgb(254, 0, 0); */
}