.admin-header-logo {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#admin-main {
  display: flex;
  height: 780px;
}
#admin header {
  border-bottom: 1px solid #ccc;
}
.others {
  flex: 6;
  overflow-y: scroll;
}
#admin header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 100px;
  margin-bottom: 20px;
}
#admin header ul li {
  cursor: pointer;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
#admin header ul li i {
  font-size: 20px;
}

.menuImg {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.menuListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #243C84;
  margin-right: 15px;
  color: #fff;
  cursor: pointer;
}
.menuListDelete {
  cursor: pointer;
}
#ad-login-page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ad-login-page-container {
  margin-top: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.add-button {
  /* position: fixed; */
  cursor: pointer;
  width: 100px;
  height: 50px;
  display: block;
  align-self: flex-end;
  border: none;
  background-color: #243C84;
  color: #fff;
  font-family: 'Pretendard-Regular';
  margin: 10px;
  font-size: 17px;
}

#ad_menu_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}