.socialcreatemodal-body {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialcreatemodal-content {
  width: 1500px;
  height: 850px;
  background-color: #d9d9d9;
  border: 3px solid black;
}
.socialcreatemodal-top {
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 45px;
}

.socialcreatemodal-top-title {
  margin-left: 5px;
  font-weight: 700;
  font-size: 34px;
}

.socialcreatemodal-btn-style {
  width: 55px;
  height: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  border-left: 3px solid black
}

.socialcreatemodal-main-container {
  margin: 30px auto 0;
  background-color: white;
  width: 1450px;
  height: 730px;
  border: 3px solid black;
}

.socialcreatemodal-main-title {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
}

.socialcreatemodal-main-title-style {
  border: none;
  border-bottom: 2px solid black;
  width: 1250px;
  height: 58px;
  font-size: 30px;
  outline: none;
}

.socialcreatemodal-main-category-style {
  border: none;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  width: 200px;
  height: 60px;
  font-size: 14px;
  outline: none;
  text-align: center;
}

.socialcreatemodal-main-body {
  margin: 25px auto 0;
  width: 1400px;
  height: 550px;
}

.socialcreatemodal-main-body-style {
  border: 3px solid black;
  width: 1400px;
  height: 550px;
  font-size: 22px;
/* 단어가 가로 공간을 넘어갈 때 줄바꿈 처리 */
}

.socialcreatemodal-main-body-style::placeholder {
  font-size: 44px;
  text-align: center;
}

.socialcreatemodal-bottom-body {
  border-top: 2px solid black;
  margin-top: 30px;
  width: 100%;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socialcreatemodal-bottom-imgselect {
  border: 1px solid;
  width: 400px;
  font-size: 24px;
}

.socialcreatemodal-botton-file-con input {
  display: none;
  align-items: center;
}

.socialcreatemodal-form-btn {
  width: 100px;
  height: 100%;
  font-size: 22px;
  font-weight: 800;
}