#cus_detail{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#cus_detail h1{
  font-size: 25px;
  line-height: 80px;
}
#cus_detail h2{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
#info{
  width: 100%;
  margin-top: 50px;
}
#info_icon{
  width: 100%;
  height: 310px;
  display: flex;
  justify-content: space-evenly;
}
#infi_icon_detail img{
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;

}
#info_icon_detail{
  border-radius: 5px;
  width: 300px;
  height: 310px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  line-height: 1;
}
/*  margin-top 사용 */
#info_icon_detail img{
  margin-top: 40px;
}
#info_icon_detail_a {
  text-align: center;
  height: 45px;
  
}
#info_icon_detail_a p{
  font-size: 15px;
  height: 30px;
}
#info_icon_detail_a h4{
  color: #002F6C;
  font-size: 18px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info_icon_detail_aa {
  height: 65px;
}
#info_icon_detail_aa h4{
  color: #002F6C;
  font-size: 18px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#info_icon_detail_aa p{
  font-size: 15px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#info_icon_detail_b{
  text-align: center;
  
}
#info_icon_detail_b h2{
  font-size: 17px;
  height: 22px;
  color: #002F6C;
}
#info_title{
  font-size: 18px;
  color: #002F6C;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#info_memo{
  height: 42px;
  font-size: 15px;
  font-weight: 600;
}
#info_tel_p{
  height: 30px;
  color: #0047a3;
  font-size: 17px;
  font-weight: 800;
}
#info_cus_btns{
  height: 70px;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#info_cus_btn_A{
  height: 70px;
  display: flex;
  align-items: center;
}
#info_cus_btn{
  font-size: 15px;
  color: white;
  background-color: #002F6C;
  width: 92px;
  height: 32px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}