#Partnership_list{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Partnership_list button{
  width: 180px;
  height: 40px;
  font: optional;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(109, 109, 109);
}
#p_main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#p_main2{
  width: 1200px;
  height: 1400px;
  border: 1px solid #c9c9c9;
  text-align: center;
}
#Partnership_mid{
  width: 89%;
  height: 150px;
  color: #898989;
  font-size: 12px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
}
