#header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 맨 위 메뉴바 */
#header-topmenu-container {
  width: 100%;
  height: 50px;
  background-color: #243C84;
  display: flex;
  justify-content: flex-end;
}
#header-topmenu {
  width: auto;
  display: flex;
  height: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
#header-topmenu-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#header-topmenu-navigation li {
  margin-left: 17px;
  padding-left: 18px;
  border-left: 1px solid #fff;
}
#header-topmenu-navigation li:first-child {
  border: none;
}
#header-topmenu-navigation li a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
#header-topmenu-sns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#header-topmenu-sns a {
  height: 22px;
}
#header-topmenu-searchbox {
  position: relative;
  float: left;
  display: block;
  width: 160px;
  height: 30px;
  background: #FFF;
}
#searchbox-input {
  position: absolute;
  left: 0;
  width: 122px;
  height: 30px;
  border: none;
}
#header-topmenu-searchbox-ok{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  right: 0;
  width: 38px;
  height: 30px;
  color: #243C84;
}

/* 로고 ~ */
#header-container {
  width: 100%;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  height: 121px;
  background-color: #fff;
  padding-top: 20px;
}
#header-second-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-second-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 30px;
}
#header-second-menu ul a {
  height: auto;
  /* padding: 5px 40px; */
  color: #000;
  line-height: normal;
}
#header-second-menu-fromInsideOut li {
  position: relative; 
  display: inline-block; 
  margin: 0 20px; 
  height: 40px; 
  text-align: center; 
  line-height: 30px; 
  cursor: pointer;
}
#header-second-menu-fromInsideOut li::after {
  position: absolute; content:"";
  display: block;
  border-bottom: 3px solid #000;
  transition: all 200ms ease-out;
  left: 50%; 
  width: 0;
}
#header-second-menu-fromInsideOut li:hover::after {
  transition: all 200ms ease-out;
  left: 0%; 
  width: 100%;
}