
#Beans_bannerv{
  width: 100%;
  height: 460px;
  margin: 0 auto;
  position: relative;
}
#Beans_banner_imgv{
  position: absolute;
  width: 100%;
  height: 100%;
}
#Beans_banner_textv{
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
  position: absolute;
}
#Beans_banner_text1v{
  font-size: 50px;
}
#Beans_banner_text2v{
  font-weight: bolder;
  color: rgb(176, 176, 176);
  line-height: 80px;
  height: 80px;
  font-size: 15px;
}
#Beans_Quality_linkv{
  display: flex;
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 64%;
  left: 50%;
  width: 400px;
  height: 50px;
  border: 2px solid #ffffff;
  align-items: center;
}
.Beans_Quality_select_stylev{
  line-height: 47px;
  text-align: center;
  display: block;
  border: 2px solid #ffffff;
  width: 197px;
  height: 47px;
  color: white;
}
#Beans_link_av{
  color: rgb(255, 255, 255);
}
#Quality_linkv{
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Quality_link_av{
  line-height: 50px;
  text-align: center;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 100%;
  height: 100%;
}
/* --------------------------------- */
#Beans_main_bodyv{
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}
/* ---------------------------------- */
#Beans_1divv{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 150px;
}
#Beans_1divv:after {
  height: 150px;
  content: "";
  width: 30px;
  border-bottom: 3px solid #000000;
  margin: 20px 0px;
}
#Beans_1div_ptagv{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 20px;
}
/* ---------------------------------- */
#Quality_2div{
  margin-top: 30px;
  display: flex;
  height: 350px;
}
#Quality_2div_warrap{
  position: relative;
}
#Quality_2div_img1{
  position: absolute;
}
#Quality_2div_img2{
  position: absolute;
  left: 490px;
  top: 240px;
  transform: translate(-50%,-50%);
}
#Quality_img_back{
  height: 300px;
  width: 450px;
  top: 33px;
  left: 33px;
  background-color: rgb(243, 243, 243);
  position: absolute;
}
#Quality_2div_textboxv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 450px;
  margin-left: 650px;
}
#Quality_2div_textbox_p1{
  font-size: 40px;
}
#Quality_textbox_2div{
  margin-bottom: 20px;
  width: 274px;
  font-size: 25px;
  background: linear-gradient(to top, rgb(182, 218, 255) 50%, transparent 50%);
}
/* 3------------------------------- */
#Quality_3div_img1{
  margin-left: 400px;
}
#Quality_textbox_3div{
  margin-bottom: 20px;
  width: 225px;
  font-size: 25px;
  background: linear-gradient(to top, rgb(182, 218, 255) 50%, transparent 50%);
  margin-left: auto ;
}
#Quality_3div_textboxv{
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 370px;
  margin-left: 150px;
  margin-right: 50px;
}
/* 4------------------------------- */
#Quality_textbox_4div{
  margin-bottom: 20px;
  width: 249px;
  font-size: 25px;
  background: linear-gradient(to top, rgb(182, 218, 255) 50%, transparent 50%);
}
#Quality_4div_img1{
  margin-left: 210px;
}
#Quality_2img_back{
  z-index: -1;
  height: 300px;
  width: 590px;
  top: 33px;
  left: 33px;
  background-color: rgb(243, 243, 243);
  position: absolute;
}
#Quality_4div_textboxv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 370px;
  margin-left: 100px;
}
/* 5------------------------------- */
#Quality_textbox_5div{
  margin-bottom: 20px;
  width: 310px;
  font-size: 25px;
  background: linear-gradient(to top, rgb(182, 218, 255) 50%, transparent 50%);
  margin-left: auto ;
}
#Quality_5div_textboxv{
  margin-right: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  height: 300px;
  width: 450px;
  margin-left: 60px;
}
#Quality_5div_img2{
  position: absolute;
  left: 490px;
  top: 240px;
  transform: translate(-50%,-50%);
  width: 200px;
  height: 200px;
}